.places-display {
  display: inline-block;
  /* max-width: 25%; */
  position: absolute;
  bottom: 0;
  left: 2%;
  height: 0%;
  background-color: lightblue;
  border-radius: 30px;
  width: 30%;
}

.places-display.show-cards {
  height: 20%;
  transition: height 1s;
}

.places-display h2 {
  text-align: left;
  font-family: BioRhyme, serif;
  font-size: 32px;
  margin: 0 0 0 30px;
}

.places-card {
  background-color: #fff;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.places-card h3 {
  display: inline-block;
  margin: 0;
  font-size: 24px;
}

.places-card .rating {
  display: inline-block;
  font-size: 16px;
  padding: 5px 0 0 0;
}

.places-card p {
  display: inline-block;
  min-width: 75%;
  margin: 0;
  text-align: left;
}

.places-card h5 {
  display: inline-block;
  font-size: 16px;
  padding: 5px 0 0 0;
}

.places-card span {
  display: inline-block;
  padding: 0;
}

.places-card .open {
  color: lightgreen;
}

.places-card .closed {
  color: red;
}
