.App {
  text-align: center;
}

main {
  /*display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(25, 1fr);*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.your-location {
  position: absolute;
  background-color: green;
  /*grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 14;*/
  height: 20%;
  width: 20%;
  transform: translate(200%, 85%);
  /*transform: scaleY(40%);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-location.entered {
  /*background-color: blue;*/
  height: 100%;
  transform: none;
  transition: height 2s, transform 1s;
  /*position: absolute;*/
}

.friend-location {
  position: absolute;
  right: 0;
  width: 20%;
  height: 20%;
  transform: translate(-200%, 185%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
 padding: 5px;
}

form input {
  font-size: 20px;
}

form button {

}

form h2 {
  margin: 0;
}

.friend-location.entered {
  /*background-color: blue;*/
  height: 100%;
  transform: none;
  transition: height 2s, transform 2s;
}

/*.main-map {
  background-color: #eef;
  display: inline-block;
  position: absolute;
  min-width: 60%;
  min-height: 100%;
}*/

.main-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.places-search {
  position: absolute;
  background-color: #BADA55;
  z-index: 5;
  width: 33.33333%;
  transform: translate(110%, 400%);
}

/*main::before {
  background-color: green;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content: "";
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 12;
}

main::before {
  background-color: green;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content: "";
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 14;
}


main:hover::before {
  border-radius: 0;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 14;
  transition: all 500ms ease;
}

main::after {
  background-color: orange;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  content: "";
  grid-row-start: 3;
  grid-row-end: 12;
  grid-column-start: 15;
  grid-column-end: 16;
}*/

.friend-location {
  background-color: orange;
  /*grid-column-start: 11;
  grid-column-end: 15;
  grid-row-start: 6;
  grid-row-end: 9;*/
}

.main-map {
  background-color: #eef;
  margin: auto;
  min-height: 100%;
  width: 60%;
  position: relative;
  z-index: -1;
}
